# Binaries
/jig
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.out
coverage.html

# Build
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Devspec
.devspec

# Generated screenshots
docs/screenshots/
